{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": false,
  "jsxSingleQuote": true,
  "printWidth": 120,
  "proseWrap": "always",
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "singleAttributePerLine": true,
  "singleQuote": true,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "<TYPES>",
    "types$",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "utils/",
    "",
    "helpers/",
    "",
    "lib/",
    "",
    "^[.]"
  ],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrderTypeScriptVersion": "5.0.0",
  "overrides": [
    {
      "files": "*.yaml",
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": "*.yml",
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": "**/CHANGELOG.md",
      "options": {
        "printWidth": 200
      }
    }
  ]
}
